body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active-category {
  background-color: #007bff !important;
  color: white;
}

@media only screen and (max-height: 1081px) {
  .hasil {
    height: 725px;
  }
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
